<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-white d-flex">
        <img src="assets/images/Vector (1).png" class="img mt-4 ml-4" alt="" />
        <img src="assets/images/Vector.png" class="img mt-4" alt="" />
        <h5 class="m-4">RED PRODUCT</h5>
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="/dashboard" class="list-group-item">
          <img src="assets/images/Vector (2).png" class="" alt="" />
          Dashboard</a
        >
        <a routerLink="/liste-hotels" class="list-group-item">
          <img src="assets/images/Vector (3).png" alt="" />
          Liste des Hotels
        </a>
      </div>
      <div class="sidebar-footer text-center text-white mt-auto p-3">
        <img
          src="assets/images/image (7).png"
          alt="User Image"
          class="rounded-circle mb-2"
          width="50"
        />
        <div>Tapha leye</div>
        <small class="text-success">En ligne</small>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn" id="menu-toggle">Dashboard</button>

        <form style="margin-left: 600px" class="form-inline my-2 my-lg-1 ml-">
          <input
            class="form-control border rounded-pill"
            type="search"
            placeholder="Recherche"
            aria-label="Recherche"
          />
          <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        </form>
        <div class="navbar-icons ml-3">
          <i class="bi bi-bell-fill"></i>

          <img src="assets/images/a0.jpg.png" alt="User" class="mx-2" />
          <i class="bi bi-box-arrow-right"></i>
        </div>
      </nav>
      <div class="row col-md-12 bg-white ml-0">
        <span class="col col-md-6 m-1">
          <H2>Hotels: 8</H2>
        </span>
        <a 
          routerLink="/add-hotel"
          class="btn bg-white border border-right col-12`
          "
          ><img src="assets/images/Frame 537.png" alt="creer un nouveau hotel"
        /></a>
      </div>
      <div class="row row-cols-1 row-cols-md-8 m-1">
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-3 m-4" *ngFor="let hotel of hotels">
              <div class="card h-90">
                <img
                  [src]="hotel.image"
                  class="card-img-top"
                  alt="Image de l'hôtel"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ hotel.hotelName }}</h5>
                  <p class="card-text">{{ hotel.addresse }}</p>
                  <p class="card-text">
                    Prix: {{ hotel.prix }} {{ hotel.currency }}
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Mis à jour récemment</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- /#page-content-wrapper -->
  </div>

  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
