<div class="body">
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="sidebar-heading text-white d-flex mb-2">
                <img src="assets/images/Vector (1).png" class="img mt-3 ml-4" alt="">
                <img src="assets/images/Vector.png" class="img mt-3 " alt="">
                <h4 class="m-3">RED PRODUCT</h4>
              </div>

              <div class="card mb-3">
                <span class="d-none d-lg-block">Connecter vous en tant que admin</span>
                <div class="card-body">
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input type="text" formControlName="name" class="form-control border-top-0 " id="yourName" placeholder="Nom" required>
                        <div *ngIf="registerForm.get('name')!.invalid && registerForm.get('name')!.touched" class="invalid-feedback">
                          Please enter your name.
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input type="email" formControlName="email" class="form-control border-top-0 " id="yourEmail" placeholder="Email" required>
                        <div *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched" class="invalid-feedback">
                          Please enter a valid email.
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <input type="password" formControlName="password" class="form-control border-top-0 border-left-0 border-right-0" id="yourPassword" placeholder="Mot de passe" required>
                      <div *ngIf="registerForm.get('password')!.invalid && registerForm.get('password')!.touched" class="invalid-feedback">
                        Please enter your password!
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="remember" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Gardez moi connecter</label>
                      </div>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger">
                      {{ errorMessage }}
                    </div>
                    <div class="col-12">
                      <button class="btn btn-secondary w-100" type="submit">S'inscrire</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12">
                <p><a style="margin-left: 35%;" href="/forget-password">Mot de passe oublier</a></p>
                <p style="margin-left: 2%; color: white; font-weight: 100px; font-size: 20px;">Vous n'avez de compte? <a routerLink="/register">Créer un compte</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
