#yourEmail{
    border-left: none;
    border-right: none;
}
#yourName{
    border-left: none;
    border-right: none;
}
#yourPassword{
    border-left: none;
    border-right: none;
}
.body_register{
    background-color: gray;
}
p{
    font-size: 18px;
    color: white;
    
}
a{
    color: yellow;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
span{
    font-size: 20px;
 
    margin: 5%;
}
